$check: check;
$radio: radio;

.sk-Radio {
  cursor: pointer;
  line-height: 24px;
  margin: 8px 30px 0 0;
  outline: none;
  text-align: left;

  @include sm-down {
    margin: 0 15px 0 0;
  }

  &__#{$check} {
    border: 1px solid palette(background, mid-dark);
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(palette(background, gray), .1);
    float: left;
    height: 22px;
    margin: 0 9px 0 0;
    position: relative;
    width: 22px;
  }

  &__#{$radio} {
    border: 1px solid palette(background, mid-dark);
    border-radius: 12px;
    box-shadow: 0 0 10px 0 rgba(palette(background, gray), .1);
    float: left;
    height: 24px;
    margin: 0 9px 0 0;
    position: relative;
    width: 24px;

    &-icon {
      display: none;
    }

    &--selected {
      border: 1px solid palette(background, mid-dark);
      box-shadow: inset 0 0 0 5px palette(background, light),
        inset 0 0 0 12px palette(background, green);
    }

    &--error {
      border: 1px solid palette(error);
      box-shadow: 0 0 10px 0 rgba(palette(error), .2);
    }
  }

  &__disabled {
    color: palette(text, gray);
    pointer-events: none;
    opacity: .8;
  }
}
