root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

; JavaScript
[*.js]
indent_style = space
indent_size = 2

[*.json]
indent_style = space
indent_size = 2

[.babelrc]
indent_style = space
indent_size = 4

[*.scss]
indent_style = space
indent_size = 2

[*.md]
indent_style = space
indent_size = 2

[.eslintrc]
indent_style = space
indent_size = 2
