body {
	background: url(photo-1457485206806-80a2d4b9ec93.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

#value {
	position: absolute;
	color: #FFF;
	font-size: 300%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
